:root {
  --primary: #333399;
  --secondary: #ededed;
  --default: #d5d5d5;
  --darkest: #111;
  --gray: #d5d5d5;
  --yellow: #ec9e02;
  --green: #b9ff69;
  --purple: #d769ff;
  --blue: #69bbff;
  --orange: #ff9e69;
  --red: #ff6969;
  --pink: #ff69b6;
}

// $theme-colors: (
//   "primary": var(--primary),
//   "secondary": var(--secondary),
//   "default": var(--default),
//   "darkest": var(--darkest),
//   "gray": var(--gray),
//   "yellow": var(--yellow),
//   "brown": var(--brown),
//   "green": var(--green),
//   "purple": var(--purple),
//   "blue": var(--blue),
//   "orange": var(--orange),
//   "red": var(--red),
//   "pink": var(--pink),
// );

$gnb-height: 40px;
